*{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'pokemon hollow';
  src: url('../Pokemon\ Hollow.ttf');
}


header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 12px;
    background-color: transparent;
}
.nomeCima {
    text-align: center;
    font-size: 60px;
    display: flex;
    color: rgba(255, 255, 255, 0.308)
}
.logo{
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.meio{
    border: solid 2px black;
    border-radius: 160px;
    color: white;
    width: 157px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.meio:hover{
    text-decoration: underline;
}

.safa{
  background-image: url('../img/Pikachu.gif');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.digiteMeio{
    width: 22%;
    height: 100px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    margin: 0 auto;
    border: solid 2px black;
    border-radius: 116px;
    background-size: auto;
    font-size: 28px;
    margin-top: 25px;
}

.parteBaixo{
    width: 100%;
    height: 9vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-radius: 33px;
    position: fixed;
    bottom: 0;
    align-items: center;
}

.nomeBaixo{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    display: flex;
    color: white;
    height: 50%;
    padding: 15px;
}
.imgFinal {
    position: fixed;
    bottom: 1;
    right: 0;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    padding: 12px;
}

.pokemon img{
    width: 250px;
    height: 250px;
}

.pokemon {
    overflow-y: auto;
    padding-top: 10px;
    font-family: pokemon Hollow;
    font-size: 12px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    height: 550px;
    line-height-step: 2px;
  }


  .pokemon h1 {
    font-size: 20px;
    margin: -18px 0;
  }
  .pokemon h2 {
    font-size: 20px;
    margin: -18px 0;
  }
  .pokemon h3 {
    font-size: 20px;
    margin: -18px 0;
  }
  
.pokemon-picture{
    max-width: 100%;
}

.digiteMeio-input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    text-align: center;
    outline: none;
    font-family: pokemon hollow;
    font-size: 28px;
    padding-bottom: 10px;
}

.digiteMeio-button{
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.pokemon div {
  cursor: pointer;
  max-width: 100%;
  max-height: 1000px; 
  
}

.pokemon::-webkit-scrollbar {
  width: 8px; 
  background-color: transparent;
}

.pokemon::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.356); 
  border-radius: 4px; 
}




.pokemon div:hover {
  color: aliceblue;
}

/* .pokeresults{
    

} */

/*CORES DIV POKEMONS*/
.normal{
    background-color: #A6A877;
}

.grass{
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
/*CORES DIV POKEMONS*/






@media (max-width: 1024px){
    .centroMenu{
        width: 50%;
    }
    .digiteMeio{
        width: 50%;
    }
    .digiteMeio-input{
        font-size: 24px;
    }
    .digiteMeio-button{
        width: 20%;
    }
    .meio{
        width: 100px;
        height: 30px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
}

.zezin{
  display: flex;
  
}